# Preprocessing

In [3]:
import pandas as pd
import os

## Loading Financial Data

In [4]:
btc=pd.read_csv(r'C:\Users\madha\Desktop\Dissertation\Data\Financial Data\Historical Data\Bitcoin_hist_24_25.csv',sep=';')
eth=pd.read_csv(r'C:\Users\madha\Desktop\Dissertation\Data\Financial Data\Historical Data\Ethereum_hist_24_25.csv',sep=';')
xrp=pd.read_csv(r'C:\Users\madha\Desktop\Dissertation\Data\Financial Data\Historical Data\XRP_hist_24_25.csv',sep=';')

In [5]:
btc.head()

,timeOpen,timeClose,timeHigh,timeLow,name,open,high,low,close,volume,marketCap,timestamp
0,2025-07-15T00:00:00.000Z,2025-07-15T23:59:59.999Z,2025-07-15T00:29:00.000Z,2025-07-15T14:58:00.000Z,2781,119853.848476,119935.560408,115765.686727,117777.188995,9.832166e+10,2.342931e+12,2025-07-15T23:59:59.999Z
1,2025-07-14T00:00:00.000Z,2025-07-14T23:59:59.999Z,2025-07-14T07:40:00.000Z,2025-07-14T01:32:00.000Z,2781,119115.787510,123091.612801,118959.196786,119849.705720,1.817464e+11,2.384183e+12,2025-07-14T23:59:59.999Z
2,2025-07-13T00:00:00.000Z,2025-07-13T23:59:59.999Z,2025-07-13T19:33:00.000Z,2025-07-13T00:19:00.000Z,2781,117432.200846,119449.571906,117265.437865,119116.117549,4.902109e+10,2.369445e+12,2025-07-13T23:59:59.999Z
3,2025-07-12T00:00:00.000Z,2025-07-12T23:59:59.999Z,2025-07-12T09:55:00.000Z,2025-07-12T15:55:00.000Z,2781,117530.712896,118219.900043,116977.023698,117435.230053,4.552456e+10,2.335906e+12,2025-07-12T23:59:59.999Z
4,2025-07-11T00:00:00.000Z,2025-07-11T23:59:59.999Z,2025-07-11T09:38:00.000Z,2025-07-11T00:28:00.000Z,2781,115986.234797,118856.473739,115245.686349,117516.993668,8.692836e+10,2.337810e+12,2025-07-11T23:59:59.999Z

Extracting Date, dropping redundant time columns

In [6]:
btc['date'] = pd.to_datetime(btc['timestamp']).dt.date
btc.drop(columns=['timeOpen', 'timeClose', 'timeHigh', 'timeLow', 'timestamp'], inplace=True)

all_columns = btc.columns.tolist()
all_columns.remove('date')
all_columns.insert(0, 'date')
btc = btc[all_columns]

In [7]:
eth['date'] = pd.to_datetime(eth['timestamp']).dt.date
eth.drop(columns=['timeOpen', 'timeClose', 'timeHigh', 'timeLow', 'timestamp'], inplace=True)

all_columns = eth.columns.tolist()
all_columns.remove('date')
all_columns.insert(0, 'date')
eth = eth[all_columns]

In [8]:
xrp['date'] = pd.to_datetime(xrp['timestamp']).dt.date
xrp.drop(columns=['timeOpen', 'timeClose', 'timeHigh', 'timeLow', 'timestamp'], inplace=True)

all_columns = xrp.columns.tolist()
all_columns.remove('date')
all_columns.insert(0, 'date')
xrp = xrp[all_columns]

In [9]:
btc.head()

,date,name,open,high,low,close,volume,marketCap
0,2025-07-15,2781,119853.848476,119935.560408,115765.686727,117777.188995,9.832166e+10,2.342931e+12
1,2025-07-14,2781,119115.787510,123091.612801,118959.196786,119849.705720,1.817464e+11,2.384183e+12
2,2025-07-13,2781,117432.200846,119449.571906,117265.437865,119116.117549,4.902109e+10,2.369445e+12
3,2025-07-12,2781,117530.712896,118219.900043,116977.023698,117435.230053,4.552456e+10,2.335906e+12
4,2025-07-11,2781,115986.234797,118856.473739,115245.686349,117516.993668,8.692836e+10,2.337810e+12

In [10]:
eth.head()

,date,name,open,high,low,close,volume,marketCap
0,2025-07-15,2781,3013.293577,3142.427222,2934.371234,3139.889718,3.901366e+10,3.790302e+11
1,2025-07-14,2781,2973.225148,3079.985511,2965.323790,3013.350859,3.634929e+10,3.637496e+11
2,2025-07-13,2781,2942.853579,3016.393465,2938.736541,2973.358989,1.736175e+10,3.589131e+11
3,2025-07-12,2781,2958.333774,2979.779932,2907.193557,2942.911663,1.631720e+10,3.552472e+11
4,2025-07-11,2781,2954.832779,3038.141150,2916.956467,2957.886198,3.622656e+10,3.571174e+11

In [11]:
xrp.head()

,date,name,open,high,low,close,volume,marketCap
0,2025-07-15,2781,2.954884,2.957473,2.808502,2.918952,8.879750e+09,1.726021e+11
1,2025-07-14,2781,2.835923,3.021792,2.827182,2.954977,1.239316e+10,1.747271e+11
2,2025-07-13,2781,2.737636,2.878500,2.726897,2.835941,7.159804e+09,1.676928e+11
3,2025-07-12,2781,2.734850,2.841254,2.669910,2.737636,8.647115e+09,1.618808e+11
4,2025-07-11,2781,2.546631,2.964270,2.517547,2.734864,1.578910e+10,1.617161e+11

## Combining Datasets

### Combining BTC Files

In [36]:
df_crypto = btc
df_sentiment = pd.read_csv(r'C:\Users\madha\Desktop\Dissertation\Data\Sentiment Scores\sentiment_scores_BTC_24_25.csv')
df_trends = pd.read_csv(r'C:\Users\madha\Desktop\Dissertation\Data\Google Trends\google_trends_BTC_24_25.csv')
df_gold = pd.read_csv(r'C:\Users\madha\Desktop\Dissertation\Data\Financial Data\Assets\Gold_data_24_25.csv')
df_sp500 = pd.read_csv(r'C:\Users\madha\Desktop\Dissertation\Data\Financial Data\Assets\SP500_data_24_25.csv')
df_nasdaq = pd.read_csv(r'C:\Users\madha\Desktop\Dissertation\Data\Financial Data\Assets\NASDAQ100_data_24_25.csv')

In [37]:
df_crypto['date'] = pd.to_datetime(df_crypto['date'])
df_sentiment['date'] = pd.to_datetime(df_sentiment['date'])
df_trends['date'] = pd.to_datetime(df_trends['date'])
df_gold['date'] = pd.to_datetime(df_gold['date'])
df_sp500['date'] = pd.to_datetime(df_sp500['date'])
df_nasdaq['date'] = pd.to_datetime(df_nasdaq['date'])

C:\Users\madha\AppData\Local\Temp\ipykernel_26008\2185407036.py:4: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df_gold['date'] = pd.to_datetime(df_gold['date'])
C:\Users\madha\AppData\Local\Temp\ipykernel_26008\2185407036.py:5: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df_sp500['date'] = pd.to_datetime(df_sp500['date'])
C:\Users\madha\AppData\Local\Temp\ipykernel_26008\2185407036.py:6: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df_nasdaq['date'] = pd.to_datetime(df_nasdaq['date'])

In [38]:
master_df = pd.merge(df_crypto, df_sentiment[['date', 'daily_weighted_sentiment', 'comment_volume']], on='date', how='left')
master_df = pd.merge(master_df, df_trends, on='date', how='left')
master_df = pd.merge(master_df, df_gold[['date', 'gold_spot']], on='date', how='left')
master_df = pd.merge(master_df, df_sp500[['date', 'gspc_spot']], on='date', how='left')
master_df = pd.merge(master_df, df_nasdaq[['date', 'ndx_spot']], on='date', how='left')

In [39]:
master_df.head()

,date,name,open,high,low,close,volume,marketCap,daily_weighted_sentiment,comment_volume,BTC_trends,gold_spot,gspc_spot,ndx_spot
0,2025-07-15,2781,119853.848476,119935.560408,115765.686727,117777.188995,9.832166e+10,2.342931e+12,-0.212001,46.0,NaN,3329.800049,6243.759766,22884.58984
1,2025-07-14,2781,119115.787510,123091.612801,118959.196786,119849.705720,1.817464e+11,2.384183e+12,-0.157348,138.0,NaN,3351.500000,6268.560059,22855.63086
2,2025-07-13,2781,117432.200846,119449.571906,117265.437865,119116.117549,4.902109e+10,2.369445e+12,-0.436295,76.0,53.0,NaN,NaN,NaN
3,2025-07-12,2781,117530.712896,118219.900043,116977.023698,117435.230053,4.552456e+10,2.335906e+12,-0.539831,91.0,NaN,NaN,NaN,NaN
4,2025-07-11,2781,115986.234797,118856.473739,115245.686349,117516.993668,8.692836e+10,2.337810e+12,0.178156,84.0,NaN,3356.000000,6259.750000,22780.59961

Forward Filling

In [40]:
master_df.sort_values(by='date', inplace=True)

columns_to_fill = ['gold_spot', 'gspc_spot', 'ndx_spot', 'daily_weighted_sentiment', 'comment_volume', 'BTC_trends']
master_df[columns_to_fill] = master_df[columns_to_fill].ffill()
master_df['BTC_trends'].fillna(36, inplace=True)

C:\Users\madha\AppData\Local\Temp\ipykernel_26008\1645982502.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  master_df['BTC_trends'].fillna(36, inplace=True)

In [62]:
master_df.head(-1)

,date,name,open,high,low,close,volume,marketCap,daily_weighted_sentiment,comment_volume,ETH_trends,gold_spot,gspc_spot,ndx_spot
364,2024-07-16,2781,3486.144073,3498.219053,3351.779683,3443.513502,2.044666e+10,4.139778e+11,0.030913,17.0,57.0,2462.399902,5667.200195,20398.61914
363,2024-07-17,2781,3446.736719,3516.104210,3379.099525,3388.752373,1.673912e+10,4.073999e+11,0.030913,17.0,57.0,2454.800049,5588.270020,19799.14063
362,2024-07-18,2781,3388.030068,3488.715655,3374.990430,3426.258591,1.503562e+10,4.119142e+11,0.089105,45.0,57.0,2451.800049,5544.589844,19705.08984
361,2024-07-19,2781,3425.908810,3540.588346,3377.877575,3505.734841,1.770563e+10,4.214725e+11,0.016569,33.0,57.0,2395.500000,5505.000000,19522.61914
360,2024-07-20,2781,3505.721336,3539.904292,3482.488908,3519.295344,1.036020e+10,4.231267e+11,0.000000,32.0,57.0,2395.500000,5505.000000,19522.61914
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5,2025-07-10,2781,2770.737301,2995.152156,2757.266597,2954.845218,3.392920e+10,3.566962e+11,-0.205187,42.0,62.0,3317.399902,6280.459961,22829.25977
4,2025-07-11,2781,2954.832779,3038.141150,2916.956467,2957.886198,3.622656e+10,3.571174e+11,0.313511,113.0,62.0,3356.000000,6259.750000,22780.59961
3,2025-07-12,2781,2958.333774,2979.779932,2907.193557,2942.911663,1.631720e+10,3.552472e+11,-0.004126,55.0,62.0,3356.000000,6259.750000,22780.59961
2,2025-07-13,2781,2942.853579,3016.393465,2938.736541,2973.358989,1.736175e+10,3.589131e+11,-0.129803,74.0,100.0,3356.000000,6259.750000,22780.59961
1,2025-07-14,2781,2973.225148,3079.985511,2965.323790,3013.350859,3.634929e+10,3.637496e+11,0.040624,44.0,100.0,3351.500000,6268.560059,22855.63086

Checking for missing values

In [43]:
master_df.isnull().sum()

date                        0
name                        0
open                        0
high                        0
low                         0
close                       0
volume                      0
marketCap                   0
daily_weighted_sentiment    0
comment_volume              0
BTC_trends                  0
gold_spot                   0
gspc_spot                   0
ndx_spot                    0
dtype: int64

In [45]:
master_df.to_csv(r'C:\Users\madha\Desktop\Dissertation\Data\Master Data\Merged\BTC_merged.csv')

### Combining ETH Files

In [53]:
df_crypto = eth
df_sentiment = pd.read_csv(r'C:\Users\madha\Desktop\Dissertation\Data\Sentiment Scores\sentiment_scores_ETH_24_25.csv')
df_trends = pd.read_csv(r'C:\Users\madha\Desktop\Dissertation\Data\Google Trends\google_trends_ETH_24_25.csv')
df_gold = pd.read_csv(r'C:\Users\madha\Desktop\Dissertation\Data\Financial Data\Assets\Gold_data_24_25.csv')
df_sp500 = pd.read_csv(r'C:\Users\madha\Desktop\Dissertation\Data\Financial Data\Assets\SP500_data_24_25.csv')
df_nasdaq = pd.read_csv(r'C:\Users\madha\Desktop\Dissertation\Data\Financial Data\Assets\NASDAQ100_data_24_25.csv')

In [54]:
df_crypto['date'] = pd.to_datetime(df_crypto['date'])
df_sentiment['date'] = pd.to_datetime(df_sentiment['date'])
df_trends['date'] = pd.to_datetime(df_trends['date'])
df_gold['date'] = pd.to_datetime(df_gold['date'])
df_sp500['date'] = pd.to_datetime(df_sp500['date'])
df_nasdaq['date'] = pd.to_datetime(df_nasdaq['date'])

C:\Users\madha\AppData\Local\Temp\ipykernel_26008\2185407036.py:4: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df_gold['date'] = pd.to_datetime(df_gold['date'])
C:\Users\madha\AppData\Local\Temp\ipykernel_26008\2185407036.py:5: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df_sp500['date'] = pd.to_datetime(df_sp500['date'])
C:\Users\madha\AppData\Local\Temp\ipykernel_26008\2185407036.py:6: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df_nasdaq['date'] = pd.to_datetime(df_nasdaq['date'])

In [55]:
master_df = pd.merge(df_crypto, df_sentiment[['date', 'daily_weighted_sentiment', 'comment_volume']], on='date', how='left')
master_df = pd.merge(master_df, df_trends, on='date', how='left')
master_df = pd.merge(master_df, df_gold[['date', 'gold_spot']], on='date', how='left')
master_df = pd.merge(master_df, df_sp500[['date', 'gspc_spot']], on='date', how='left')
master_df = pd.merge(master_df, df_nasdaq[['date', 'ndx_spot']], on='date', how='left')

In [56]:
master_df.head()

,date,name,open,high,low,close,volume,marketCap,daily_weighted_sentiment,comment_volume,ETH_trends,gold_spot,gspc_spot,ndx_spot
0,2025-07-15,2781,3013.293577,3142.427222,2934.371234,3139.889718,3.901366e+10,3.790302e+11,-0.065852,44.0,NaN,3329.800049,6243.759766,22884.58984
1,2025-07-14,2781,2973.225148,3079.985511,2965.323790,3013.350859,3.634929e+10,3.637496e+11,0.040624,44.0,NaN,3351.500000,6268.560059,22855.63086
2,2025-07-13,2781,2942.853579,3016.393465,2938.736541,2973.358989,1.736175e+10,3.589131e+11,-0.129803,74.0,100.0,NaN,NaN,NaN
3,2025-07-12,2781,2958.333774,2979.779932,2907.193557,2942.911663,1.631720e+10,3.552472e+11,-0.004126,55.0,NaN,NaN,NaN,NaN
4,2025-07-11,2781,2954.832779,3038.141150,2916.956467,2957.886198,3.622656e+10,3.571174e+11,0.313511,113.0,NaN,3356.000000,6259.750000,22780.59961

In [58]:
master_df.sort_values(by='date', inplace=True)

columns_to_fill = ['gold_spot', 'gspc_spot', 'ndx_spot', 'daily_weighted_sentiment', 'comment_volume', 'ETH_trends']
master_df[columns_to_fill] = master_df[columns_to_fill].ffill()
master_df['ETH_trends'].fillna(57, inplace=True)

C:\Users\madha\AppData\Local\Temp\ipykernel_26008\2085427552.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  master_df['ETH_trends'].fillna(57, inplace=True)

In [59]:
master_df.isnull().sum()

date                        0
name                        0
open                        0
high                        0
low                         0
close                       0
volume                      0
marketCap                   0
daily_weighted_sentiment    0
comment_volume              0
ETH_trends                  0
gold_spot                   0
gspc_spot                   0
ndx_spot                    0
dtype: int64

In [66]:
master_df.to_csv(r'C:\Users\madha\Desktop\Dissertation\Data\Master Data\Merged\ETH_merged.csv')

### Combining XRP Files

In [67]:
df_crypto = xrp
df_sentiment = pd.read_csv(r'C:\Users\madha\Desktop\Dissertation\Data\Sentiment Scores\sentiment_scores_XRP_24_25.csv')
df_trends = pd.read_csv(r'C:\Users\madha\Desktop\Dissertation\Data\Google Trends\google_trends_XRP_24_25.csv')
df_gold = pd.read_csv(r'C:\Users\madha\Desktop\Dissertation\Data\Financial Data\Assets\Gold_data_24_25.csv')
df_sp500 = pd.read_csv(r'C:\Users\madha\Desktop\Dissertation\Data\Financial Data\Assets\SP500_data_24_25.csv')
df_nasdaq = pd.read_csv(r'C:\Users\madha\Desktop\Dissertation\Data\Financial Data\Assets\NASDAQ100_data_24_25.csv')

In [68]:
df_crypto['date'] = pd.to_datetime(df_crypto['date'])
df_sentiment['date'] = pd.to_datetime(df_sentiment['date'])
df_trends['date'] = pd.to_datetime(df_trends['date'])
df_gold['date'] = pd.to_datetime(df_gold['date'])
df_sp500['date'] = pd.to_datetime(df_sp500['date'])
df_nasdaq['date'] = pd.to_datetime(df_nasdaq['date'])

C:\Users\madha\AppData\Local\Temp\ipykernel_26008\2185407036.py:4: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df_gold['date'] = pd.to_datetime(df_gold['date'])
C:\Users\madha\AppData\Local\Temp\ipykernel_26008\2185407036.py:5: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df_sp500['date'] = pd.to_datetime(df_sp500['date'])
C:\Users\madha\AppData\Local\Temp\ipykernel_26008\2185407036.py:6: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df_nasdaq['date'] = pd.to_datetime(df_nasdaq['date'])

In [69]:
master_df = pd.merge(df_crypto, df_sentiment[['date', 'daily_weighted_sentiment', 'comment_volume']], on='date', how='left')
master_df = pd.merge(master_df, df_trends, on='date', how='left')
master_df = pd.merge(master_df, df_gold[['date', 'gold_spot']], on='date', how='left')
master_df = pd.merge(master_df, df_sp500[['date', 'gspc_spot']], on='date', how='left')
master_df = pd.merge(master_df, df_nasdaq[['date', 'ndx_spot']], on='date', how='left')

In [70]:
master_df.head()

,date,name,open,high,low,close,volume,marketCap,daily_weighted_sentiment,comment_volume,XRP_trends,gold_spot,gspc_spot,ndx_spot
0,2025-07-15,2781,2.954884,2.957473,2.808502,2.918952,8.879750e+09,1.726021e+11,-0.034089,46.0,NaN,3329.800049,6243.759766,22884.58984
1,2025-07-14,2781,2.835923,3.021792,2.827182,2.954977,1.239316e+10,1.747271e+11,0.531816,3.0,NaN,3351.500000,6268.560059,22855.63086
2,2025-07-13,2781,2.737636,2.878500,2.726897,2.835941,7.159804e+09,1.676928e+11,-0.075498,93.0,63.0,NaN,NaN,NaN
3,2025-07-12,2781,2.734850,2.841254,2.669910,2.737636,8.647115e+09,1.618808e+11,0.024163,37.0,NaN,NaN,NaN,NaN
4,2025-07-11,2781,2.546631,2.964270,2.517547,2.734864,1.578910e+10,1.617161e+11,-0.256150,49.0,NaN,3356.000000,6259.750000,22780.59961

In [71]:
master_df.sort_values(by='date', inplace=True)

columns_to_fill = ['gold_spot', 'gspc_spot', 'ndx_spot', 'daily_weighted_sentiment', 'comment_volume', 'XRP_trends']
master_df[columns_to_fill] = master_df[columns_to_fill].ffill()
master_df['XRP_trends'].fillna(25, inplace=True)

C:\Users\madha\AppData\Local\Temp\ipykernel_26008\1154990614.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  master_df['XRP_trends'].fillna(25, inplace=True)

In [73]:
master_df.head()

,date,name,open,high,low,close,volume,marketCap,daily_weighted_sentiment,comment_volume,XRP_trends,gold_spot,gspc_spot,ndx_spot
364,2024-07-16,2781,0.537753,0.592527,0.534284,0.579376,3.380662e+09,3.233226e+10,NaN,NaN,25.0,2462.399902,5667.200195,20398.61914
363,2024-07-17,2781,0.579373,0.636644,0.579373,0.626486,3.708255e+09,3.502649e+10,-0.046500,8.0,25.0,2454.800049,5588.270020,19799.14063
362,2024-07-18,2781,0.626589,0.635987,0.560432,0.569574,2.986712e+09,3.184459e+10,-0.046500,8.0,25.0,2451.800049,5544.589844,19705.08984
361,2024-07-19,2781,0.569608,0.586012,0.542638,0.573752,2.340175e+09,3.207691e+10,-0.007005,32.0,25.0,2395.500000,5505.000000,19522.61914
360,2024-07-20,2781,0.573729,0.603782,0.571832,0.594651,1.538359e+09,3.324672e+10,-0.007005,32.0,25.0,2395.500000,5505.000000,19522.61914

In [77]:
master_df.isnull().sum()

date                        0
name                        0
open                        0
high                        0
low                         0
close                       0
volume                      0
marketCap                   0
daily_weighted_sentiment    1
comment_volume              1
XRP_trends                  0
gold_spot                   0
gspc_spot                   0
ndx_spot                    0
dtype: int64

In [81]:
master_df['daily_weighted_sentiment'].fillna(0, inplace=True)
master_df['comment_volume'].fillna(0, inplace=True)

C:\Users\madha\AppData\Local\Temp\ipykernel_26008\2618507442.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  master_df['daily_weighted_sentiment'].fillna(0, inplace=True)
C:\Users\madha\AppData\Local\Temp\ipykernel_26008\2618507442.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  master_df['comment_volume'].fillna(0, inplace=True)

In [82]:
master_df.head()

,date,name,open,high,low,close,volume,marketCap,daily_weighted_sentiment,comment_volume,XRP_trends,gold_spot,gspc_spot,ndx_spot
364,2024-07-16,2781,0.537753,0.592527,0.534284,0.579376,3.380662e+09,3.233226e+10,0.000000,0.0,25.0,2462.399902,5667.200195,20398.61914
363,2024-07-17,2781,0.579373,0.636644,0.579373,0.626486,3.708255e+09,3.502649e+10,-0.046500,8.0,25.0,2454.800049,5588.270020,19799.14063
362,2024-07-18,2781,0.626589,0.635987,0.560432,0.569574,2.986712e+09,3.184459e+10,-0.046500,8.0,25.0,2451.800049,5544.589844,19705.08984
361,2024-07-19,2781,0.569608,0.586012,0.542638,0.573752,2.340175e+09,3.207691e+10,-0.007005,32.0,25.0,2395.500000,5505.000000,19522.61914
360,2024-07-20,2781,0.573729,0.603782,0.571832,0.594651,1.538359e+09,3.324672e+10,-0.007005,32.0,25.0,2395.500000,5505.000000,19522.61914

In [83]:
master_df.to_csv(r'C:\Users\madha\Desktop\Dissertation\Data\Master Data\Merged\XRP_merged.csv')